body {
  -webkit-transition: background-color 1s;
  -o-transition: background-color 1s;
  transition: background-color 1s;
}

body.index {
  background-color: #69D2E7;
}

body.enabled {
  background-color: #A7DBDB;
}

body.disabled {
  background-color: #E0E4CC;
}

a {
  -webkit-transition: color 2s;
  -o-transition: color 2s;
  transition: color 2s;
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a.active {
  color: #FA6900;
}
